# Dataset 3 : GSE83456_series_matrix

In [1]:
# Import necessary library
import pandas as pd

# Set the file path for the input TXT file
file_path = r"..\..\..\Datasets\train\raw\GSE83456_series_matrix.txt"

# Load the TXT file into a Pandas DataFrame, skipping metadata lines
dataset3 = pd.read_csv(file_path, sep='\t', skiprows=41)

C:\Users\dilan\AppData\Local\Temp\ipykernel_44288\3858909981.py:8: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset3 = pd.read_csv(file_path, sep='\t', skiprows=41)

In [2]:
# Display the first 5 rows
dataset3.head()

,!Sample_title,Blood Human EPTB rep1,Blood Human EPTB rep2,Blood Human EPTB rep3,Blood Human EPTB rep4,Blood Human EPTB rep5,Blood Human EPTB rep6,Blood Human EPTB rep7,Blood Human EPTB rep8,Blood Human EPTB rep9,...,Blood Human Sarcoid rep40,Blood Human Sarcoid rep41,Blood Human Sarcoid rep42,Blood Human Sarcoid rep43,Blood Human Sarcoid rep44,Blood Human Sarcoid rep45,Blood Human Sarcoid rep46,Blood Human Sarcoid rep47,Blood Human Sarcoid rep48,Blood Human Sarcoid rep49
0,!Sample_geo_accession,GSM2203540,GSM2203541,GSM2203542,GSM2203543,GSM2203544,GSM2203545,GSM2203546,GSM2203547,GSM2203548,...,GSM2203732,GSM2203733,GSM2203734,GSM2203735,GSM2203736,GSM2203737,GSM2203738,GSM2203739,GSM2203740,GSM2203741
1,!Sample_status,Public on Nov 04 2016,Public on Nov 04 2016,Public on Nov 04 2016,Public on Nov 04 2016,Public on Nov 04 2016,Public on Nov 04 2016,Public on Nov 04 2016,Public on Nov 04 2016,Public on Nov 04 2016,...,Public on Nov 04 2016,Public on Nov 04 2016,Public on Nov 04 2016,Public on Nov 04 2016,Public on Nov 04 2016,Public on Nov 04 2016,Public on Nov 04 2016,Public on Nov 04 2016,Public on Nov 04 2016,Public on Nov 04 2016
2,!Sample_submission_date,Jun 16 2016,Jun 16 2016,Jun 16 2016,Jun 16 2016,Jun 16 2016,Jun 16 2016,Jun 16 2016,Jun 16 2016,Jun 16 2016,...,Jun 16 2016,Jun 16 2016,Jun 16 2016,Jun 16 2016,Jun 16 2016,Jun 16 2016,Jun 16 2016,Jun 16 2016,Jun 16 2016,Jun 16 2016
3,!Sample_last_update_date,Nov 04 2016,Nov 04 2016,Nov 04 2016,Nov 04 2016,Nov 04 2016,Nov 04 2016,Nov 04 2016,Nov 04 2016,Nov 04 2016,...,Nov 04 2016,Nov 04 2016,Nov 04 2016,Nov 04 2016,Nov 04 2016,Nov 04 2016,Nov 04 2016,Nov 04 2016,Nov 04 2016,Nov 04 2016
4,!Sample_type,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,...,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA

## Get the transpose of the dataset

In [3]:
# Transpose the dataset
transpose_dataset3 = dataset3.T

# Reset the index to make the transposed column names into a header
transpose_dataset3.columns = transpose_dataset3.iloc[0]

# Drop the first row (index 0) which has the headers duplicated
transpose_dataset3 = transpose_dataset3.drop(transpose_dataset3.index[0])

# Display the first few rows of the corrected transposed data
transpose_dataset3.head()

!Sample_title,!Sample_geo_accession,!Sample_status,!Sample_submission_date,!Sample_last_update_date,!Sample_type,!Sample_channel_count,!Sample_source_name_ch1,!Sample_organism_ch1,!Sample_characteristics_ch1,!Sample_characteristics_ch1,...,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311170,ILMN_3311175,ILMN_3311180,ILMN_3311185,ILMN_3311190,!series_matrix_table_end
Blood Human EPTB rep1,GSM2203540,Public on Nov 04 2016,Jun 16 2016,Nov 04 2016,RNA,1,Blood Human EPTB,Homo sapiens,gender: M,ethnicity: ISC,...,1.558688,1.436309,1.600194,1.000182,1.604735,1.600194,1.528743,1.587993,0.319729,NaN
Blood Human EPTB rep2,GSM2203541,Public on Nov 04 2016,Jun 16 2016,Nov 04 2016,RNA,1,Blood Human EPTB,Homo sapiens,gender: F,ethnicity: Black,...,0.283453,0.161074,0.324959,0.746426,0.3295,0.324959,0.253508,0.312758,0.266886,NaN
Blood Human EPTB rep3,GSM2203542,Public on Nov 04 2016,Jun 16 2016,Nov 04 2016,RNA,1,Blood Human EPTB,Homo sapiens,gender: F,ethnicity: Black,...,0.231257,0.108878,0.272763,-0.327249,0.277304,0.272763,0.201312,0.260562,-0.759775,NaN
Blood Human EPTB rep4,GSM2203543,Public on Nov 04 2016,Jun 16 2016,Nov 04 2016,RNA,1,Blood Human EPTB,Homo sapiens,gender: M,ethnicity: ISC,...,0.125388,0.003009,0.166894,-0.11119,0.171435,0.166894,0.165833,0.154693,-0.293392,NaN
Blood Human EPTB rep5,GSM2203544,Public on Nov 04 2016,Jun 16 2016,Nov 04 2016,RNA,1,Blood Human EPTB,Homo sapiens,gender: F,ethnicity: ISC,...,0.318033,1.098693,0.359539,-0.240473,0.36408,0.359539,0.288088,0.347338,-1.257961,NaN

In [4]:
# Check basic information about the dataset, including data types and non-null counts
transpose_dataset3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 202 entries, Blood Human EPTB rep1 to Blood Human Sarcoid rep49
Columns: 47267 entries, !Sample_geo_accession to !series_matrix_table_end
dtypes: object(47267)
memory usage: 72.8+ MB

## Handling Duplicate Rows

In [5]:
transpose_dataset3.drop_duplicates(subset=['ID_REF'], keep='first', inplace=True)

### Handling Duplicate Columns

In [6]:
# Identify columns that start with '!Sample_characteristics_ch1' by their index positions
# The duplicate columns are in positions known by inspection with indices 8, 9, 10, 11 and 12
characteristics_indices = [8, 9, 10, 11, 12]

# Extract and rename each column using its index position
transpose_dataset3['!Sample_gender'] = transpose_dataset3.iloc[:, characteristics_indices[0]]
transpose_dataset3['!Sample_ethnicity'] = transpose_dataset3.iloc[:, characteristics_indices[1]]
transpose_dataset3['!Sample_age'] = transpose_dataset3.iloc[:, characteristics_indices[2]]
transpose_dataset3['!Sample_disease_state'] = transpose_dataset3.iloc[:, characteristics_indices[3]]
transpose_dataset3['!Sample_tissue'] = transpose_dataset3.iloc[:, characteristics_indices[4]]

# Drop the original duplicated columns by their indices
transpose_dataset3.drop(transpose_dataset3.columns[characteristics_indices], axis=1, inplace=True)

# Reorder the columns to place the new columns at the front
# Create a new order by specifying the newly created columns first
new_column_order = ['!Sample_gender', '!Sample_ethnicity', '!Sample_age', '!Sample_disease_state', '!Sample_tissue'] + \
                   [col for col in transpose_dataset3.columns if col not in ['!Sample_gender', '!Sample_ethnicity', '!Sample_age', '!Sample_disease_state', '!Sample_tissue']]

# Reassign columns to the DataFrame in the new order
transpose_dataset3 = transpose_dataset3[new_column_order]

In [7]:
# Display the first few rows of the transposed data
transpose_dataset3.head()

!Sample_title,!Sample_gender,!Sample_ethnicity,!Sample_age,!Sample_disease_state,!Sample_tissue,!Sample_geo_accession,!Sample_status,!Sample_submission_date,!Sample_last_update_date,!Sample_type,...,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311170,ILMN_3311175,ILMN_3311180,ILMN_3311185,ILMN_3311190,!series_matrix_table_end
Blood Human EPTB rep1,gender: M,ethnicity: ISC,age: 21,disease state: EPTB,tissue: Blood,GSM2203540,Public on Nov 04 2016,Jun 16 2016,Nov 04 2016,RNA,...,1.558688,1.436309,1.600194,1.000182,1.604735,1.600194,1.528743,1.587993,0.319729,NaN
Blood Human EPTB rep2,gender: F,ethnicity: Black,age: 48,disease state: EPTB,tissue: Blood,GSM2203541,Public on Nov 04 2016,Jun 16 2016,Nov 04 2016,RNA,...,0.283453,0.161074,0.324959,0.746426,0.3295,0.324959,0.253508,0.312758,0.266886,NaN
Blood Human EPTB rep3,gender: F,ethnicity: Black,age: 23,disease state: EPTB,tissue: Blood,GSM2203542,Public on Nov 04 2016,Jun 16 2016,Nov 04 2016,RNA,...,0.231257,0.108878,0.272763,-0.327249,0.277304,0.272763,0.201312,0.260562,-0.759775,NaN
Blood Human EPTB rep4,gender: M,ethnicity: ISC,age: 27,disease state: EPTB,tissue: Blood,GSM2203543,Public on Nov 04 2016,Jun 16 2016,Nov 04 2016,RNA,...,0.125388,0.003009,0.166894,-0.11119,0.171435,0.166894,0.165833,0.154693,-0.293392,NaN
Blood Human EPTB rep5,gender: F,ethnicity: ISC,age: 18,disease state: EPTB,tissue: Blood,GSM2203544,Public on Nov 04 2016,Jun 16 2016,Nov 04 2016,RNA,...,0.318033,1.098693,0.359539,-0.240473,0.36408,0.359539,0.288088,0.347338,-1.257961,NaN

## Unnecessary Feature Elemination

In [8]:
# Identify columns where all values are the same
columns_to_drop = transpose_dataset3.columns[transpose_dataset3.nunique() == 1]

# Drop those columns
data3 = transpose_dataset3.drop(columns=columns_to_drop)

In [9]:
# Drop columns with more than 50% missing values
# Calculate threshold for dropping columns
threshold = len(data3) * 0.5
data3 = data3.dropna(thresh=threshold, axis=1)

In [10]:
# Drop the columns which wonâ€™t contribute to distinguishing TB states.
columns_to_drop = [
    '!Sample_geo_accession','!Sample_gender','!Sample_ethnicity', '!Sample_age',
    '!Sample_source_name_ch1', '!Sample_description', 'ID_REF'
]

data3.drop(columns=columns_to_drop, inplace=True)

In [11]:
# Select the first 5 columns
first_5_columns = data3.columns[:5]

# Create an empty list to store the rows
rows = []

# Loop through each of the first 5 columns
for col in first_5_columns:
    # Get the data type of the column using the Series dtype
    data_type = data3[col].dtypes  # Access the dtype via .dtypes (not .dtype)

    # Get the first two row values of the column
    row_value_1 = data3[col].iloc[0]
    row_value_2 = data3[col].iloc[1]

    # Append the information as a row to the list
    rows.append({
        'Feature': col,
        'Data Type': data_type,
        'Row Value 1': row_value_1,
        'Row Value 2': row_value_2
    })

# Convert the list of rows into a DataFrame
result_df = pd.DataFrame(rows)

# Display the result
result_df

                 Feature Data Type          Row Value 1          Row Value 2
0  !Sample_disease_state    object  disease state: EPTB  disease state: EPTB
1           ILMN_1343291    object           0.66094875          -0.18701267
2           ILMN_1343295    object           0.73225594           0.36726665
3           ILMN_1651199    object            1.5741944           0.29895926
4           ILMN_1651209    object            1.3198224          0.044587255

## Handling Missing values

In [12]:
# Check for missing values
data3.isnull().sum()

!Sample_title
!Sample_disease_state    0
ILMN_1343291             0
ILMN_1343295             0
ILMN_1651199             0
ILMN_1651209             0
                        ..
ILMN_3311170             0
ILMN_3311175             0
ILMN_3311180             0
ILMN_3311185             0
ILMN_3311190             0
Length: 47232, dtype: int64

In [13]:
# Check for missing values and print only columns with missing values
missing_values = data3.isnull().sum()
print(missing_values[missing_values > 0])

Series([], dtype: int64)

## Creating the Target Column - TB_Status

In [14]:
# Get unique categories in the "!Sample_disease_state" column
unique_categories = data3["!Sample_disease_state"].unique()

# Display the unique categories
unique_categories

array(['disease state: EPTB', 'disease state: HC', 'disease state: PTB',
       'disease state: Sarcoid'], dtype=object)

In [15]:
data3.sample(5)

!Sample_title,!Sample_disease_state,ILMN_1343291,ILMN_1343295,ILMN_1651199,ILMN_1651209,ILMN_1651210,ILMN_1651221,ILMN_1651228,ILMN_1651229,ILMN_1651230,...,ILMN_3311145,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311170,ILMN_3311175,ILMN_3311180,ILMN_3311185,ILMN_3311190
Blood Human Sarcoid rep48,disease state: Sarcoid,0.041002274,0.27865648,-0.29357624,-0.54794824,-0.30572033,-0.4091754,0.3233142,-0.003061533,-0.2797773,...,-0.301308,-0.309082,-0.431462,-0.267577,0.058411,-0.263035,-0.267577,-0.339027,-0.279777,-2.378117
Blood Human EPTB rep2,disease state: EPTB,-0.18701267,0.36726665,0.29895926,0.044587255,0.28681517,0.1833601,-0.24249744,-0.27284312,0.3127582,...,0.291228,0.283453,0.161074,0.324959,0.746426,0.3295,0.324959,0.253508,0.312758,0.266886
Blood Human Control rep3,disease state: HC,0.09931755,-0.098703384,0.17881727,-0.07555473,0.16667318,0.06321812,0.23725128,0.07590079,0.19261622,...,0.171086,0.163311,0.040932,0.204817,0.005343,0.209358,0.204817,0.133366,0.192616,0.194257
Blood Human Control rep51,disease state: HC,0.4751768,-0.41013527,0.42173147,0.8363861,0.40958738,0.30613232,1.2599058,0.56441474,0.43553042,...,0.414,0.406225,0.283846,0.447731,-0.152281,0.452272,0.447731,0.37628,0.43553,-0.894135
Blood Human Control rep50,disease state: HC,0.35733604,-0.83624125,-0.038075447,-0.29244745,0.9783497,-0.1536746,0.61506987,0.1605165,-0.024276495,...,-0.045807,0.909893,-0.175961,-0.012076,-0.612088,-0.007535,-0.012076,0.432488,-0.024276,0.08828

In [16]:
# Define a function to categorize each sample type
def categorize_sample_type(source_name):
    source_name = source_name.lower()
    if 'disease state: ptb' in source_name:
        return 'Pulmonary TB'
    elif 'disease state: eptb' in source_name:
        return 'Extra Pulmonary TB'
    elif 'disease state: hc' in source_name:
        return 'Healthy Control'
    else:
        return 'Other Disease'  # Other lung disease like 'Lung Cancer'

# Apply the function to the "!Sample_disease_state" column
data3['TB_Status'] = data3['!Sample_disease_state'].apply(categorize_sample_type)

# Display unique values in the new 'TB_Status' column to verify
print(data3['TB_Status'].unique())

['Extra Pulmonary TB' 'Healthy Control' 'Pulmonary TB' 'Other Disease']

In [17]:
data3.sample(5)

!Sample_title,!Sample_disease_state,ILMN_1343291,ILMN_1343295,ILMN_1651199,ILMN_1651209,ILMN_1651210,ILMN_1651221,ILMN_1651228,ILMN_1651229,ILMN_1651230,...,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311170,ILMN_3311175,ILMN_3311180,ILMN_3311185,ILMN_3311190,TB_Status
Blood Human EPTB rep4,disease state: EPTB,0.13575554,0.37998676,0.14089441,-0.11347759,0.12875032,0.025295258,-0.59907246,-0.720814,0.15469337,...,0.125388,0.003009,0.166894,-0.11119,0.171435,0.166894,0.165833,0.154693,-0.293392,Extra Pulmonary TB
Blood Human EPTB rep38,disease state: EPTB,0.14084053,-0.16060829,0.15456915,-0.09980285,0.14242506,1.2592998,0.8760004,0.43913436,0.1683681,...,0.139063,0.016684,0.180569,0.055642,0.18511,0.180569,0.109118,0.168368,-2.041003,Extra Pulmonary TB
Blood Human Control rep9,disease state: HC,0.00252533,-0.4230523,0.29516792,0.040795922,0.28302383,0.17956877,0.6848378,0.4000876,0.30896688,...,0.279662,0.157283,0.321167,0.600861,0.325709,0.321167,0.249717,0.308967,-0.052407,Healthy Control
Blood Human Sarcoid rep2,disease state: Sarcoid,0.11896992,0.11186695,0.25042963,0.600129,0.23828554,0.13483047,-0.088116646,0.2454884,0.26422858,...,0.234923,0.112544,0.276429,0.354489,0.280971,0.276429,0.342482,0.264229,0.125247,Other Disease
Blood Human Control rep53,disease state: HC,0.2006855,-0.44457293,-0.094080925,-0.13432777,-0.106225014,-0.20968008,0.04384756,0.22193408,-0.08028197,...,-0.109587,-0.231966,-0.068081,-0.46646,-0.06354,-0.068081,-0.139532,-0.080282,-0.145606,Healthy Control

In [18]:
# Drop the '!Sample_disease_state' column.
data3.drop('!Sample_disease_state', axis=1, inplace=True)

## Data Type Conversion

In [19]:
# Convert columns that should be numeric (e.g., ILMN_1343291, ILMN_1343295)
# Select columns that start with "ILMN_"
ilmn_columns = data3.columns[data3.columns.str.startswith('ILMN_')]

# Convert all 'ILMN_' columns to numeric
data3[ilmn_columns] = data3[ilmn_columns].apply(pd.to_numeric, errors='coerce')

# Verify the data types of the columns
print(data3[ilmn_columns].dtypes)

!Sample_title
ILMN_1343291    float64
ILMN_1343295    float64
ILMN_1651199    float64
ILMN_1651209    float64
ILMN_1651210    float64
                 ...
ILMN_3311170    float64
ILMN_3311175    float64
ILMN_3311180    float64
ILMN_3311185    float64
ILMN_3311190    float64
Length: 47231, dtype: object

In [20]:
# Convert target column ('TB_Status') to categorical
data3['TB_Status'] = data3['TB_Status'].astype('category')

# Verify the data type of the column
print(data3['TB_Status'].dtypes)

category

In [21]:
dataset3 = data3.copy()

## Encode the target labels in the target column (TB_Status)

In [22]:
data3 = dataset3.copy()

## Standardizing/Normalizing Numeric Data

In [23]:
from sklearn.preprocessing import StandardScaler

# Select only the numeric columns in the dataset
numeric_columns = data3.select_dtypes(include=['float64', 'int64']).columns

# Initialize the scaler
scaler = StandardScaler()

# Fit the scaler on the numeric columns and transform them
data3[numeric_columns] = scaler.fit_transform(data3[numeric_columns])

# Display random 5 rows to verify the standardization
data3.sample(5)

!Sample_title,ILMN_1343291,ILMN_1343295,ILMN_1651199,ILMN_1651209,ILMN_1651210,ILMN_1651221,ILMN_1651228,ILMN_1651229,ILMN_1651230,ILMN_1651232,...,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311170,ILMN_3311175,ILMN_3311180,ILMN_3311185,ILMN_3311190,TB_Status
Blood Human PTB rep5,1.432704,0.692629,0.540701,0.953532,0.531111,0.191447,-0.385775,-0.529357,0.515485,0.395783,...,0.468745,1.016851,0.560609,0.545382,0.569255,0.565680,0.270169,0.537189,0.047671,Pulmonary TB
Blood Human Sarcoid rep14,-0.507284,1.061405,-0.900870,2.293374,-0.870333,0.121127,-1.722567,0.930134,-0.875569,-0.980230,...,-0.916621,0.294487,-0.865417,1.723504,-0.858324,-0.865407,-0.909413,-0.866055,-0.054182,Other Disease
Blood Human EPTB rep3,1.818175,2.136694,0.626498,-0.101197,0.614519,0.264250,-0.578609,0.108062,0.598275,0.477678,...,0.551196,0.182754,0.645480,-0.630546,0.654219,0.650852,0.340372,0.620705,-0.994888,Extra Pulmonary TB
Blood Human Sarcoid rep28,-0.449519,0.465787,-0.855453,-1.304123,0.199105,-0.993276,-1.084593,-2.059317,-0.831744,-0.936879,...,-0.872975,-1.022048,-0.820490,0.007175,-0.813348,-0.820321,-0.872250,-0.821846,-0.887317,Other Disease
Blood Human EPTB rep42,-0.532730,0.210610,-0.139297,-0.034747,-0.129960,-0.385574,-0.539027,0.020505,-0.140685,-0.253292,...,-0.184742,-0.173683,-0.112057,1.088441,-0.104143,-0.109373,-0.286248,-0.124730,-0.618856,Extra Pulmonary TB

## Handling Outliers

In [24]:
import numpy as np

# Select only the numeric columns
numeric_columns = data3.select_dtypes(include=['float64', 'int64']).columns

# Define a function to cap outliers
def cap_outliers(series):
    # Calculate Q1 (25th percentile) and Q3 (75th percentile)
    Q1 = series.quantile(0.25)
    Q3 = series.quantile(0.75)
    IQR = Q3 - Q1

    # Define the lower and upper bounds
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Cap values outside the bounds to the respective bounds
    return np.where(series < lower_bound, lower_bound,
                    np.where(series > upper_bound, upper_bound, series))

# Apply the function to each numeric column
for col in numeric_columns:
    data3[col] = cap_outliers(data3[col])

# Display the random 5 rows to verify the changes
data3.sample(5)

!Sample_title,ILMN_1343291,ILMN_1343295,ILMN_1651199,ILMN_1651209,ILMN_1651210,ILMN_1651221,ILMN_1651228,ILMN_1651229,ILMN_1651230,ILMN_1651232,...,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311170,ILMN_3311175,ILMN_3311180,ILMN_3311185,ILMN_3311190,TB_Status
Blood Human Control rep61,-1.048034,-1.846271,-0.932982,0.563016,-0.901551,0.455965,1.186430,-0.289712,-0.906556,-1.010882,...,-0.947481,-1.085077,-0.897183,0.213670,-0.890124,-0.897286,-0.935688,-0.897313,-0.027836,Healthy Control
Blood Human Control rep57,-1.207738,-0.782999,-1.263513,-1.073166,-1.222882,-0.725086,1.047917,1.769029,-0.681456,-1.326381,...,-1.265125,-1.353793,-1.224149,-1.598077,-1.217447,-1.225412,-1.206149,-1.219056,-1.490934,Healthy Control
Blood Human PTB rep13,0.854642,1.605584,1.065495,0.255145,1.041296,1.482482,1.369812,-2.557966,1.021888,0.896711,...,0.973077,0.539651,1.079743,1.874957,1.088955,1.086656,0.699586,1.048030,0.736608,Pulmonary TB
Blood Human Control rep55,-0.273107,-0.904743,1.400770,-0.104973,-0.762178,-0.937411,-0.050200,-0.300973,-0.768216,-0.874037,...,-0.809706,-0.968524,-0.755365,0.625482,-0.748152,-0.754964,-0.818379,-0.757761,0.166965,Healthy Control
Blood Human Control rep26,0.222130,-0.910326,0.189801,-0.455672,0.189978,-0.106314,0.069931,0.718138,0.176881,0.060840,...,0.203817,-0.172274,0.213492,-0.109903,0.221760,0.217331,-0.016960,0.195618,-0.438354,Healthy Control

In [25]:
# Save the DataFrame as a CSV file
output_csv_path = r"..\..\..\Datasets\train\processed\processed_dataset3.csv"
data3.to_csv(output_csv_path, index=False)
print("CSV file saved to:", output_csv_path)

CSV file saved to: ..\..\..\Datasets\train\processed\processed_dataset3.csv