# Prediction Dataset 2 : GSE42826_series_matrix

In [1]:
# Set the file path
file_path = r'..\..\..\Datasets\to-predict\raw\GSE42826_series_matrix.txt'

In [2]:
# Number of rows to be skipped
m = 50

# Load the TXT file into a Pandas DataFrame
import pandas as pd

# Skip the header lines (e.g., metadata) to get to the actual data
test_set = pd.read_csv(file_path, sep='\t', skiprows=m)

C:\Users\dilan\AppData\Local\Temp\ipykernel_28728\1166178274.py:8: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102) have mixed types. Specify dtype option on import or set low_memory=False.
  test_set = pd.read_csv(file_path, sep='\t', skiprows=m)

In [3]:
# Display the first 5 rows
test_set.head()

,!Sample_title,Sarcoid Sample 1 test set,Sarcoid Sample 2 test set,Cancer Sample 3 test set,Pneumonia Sample 4 test set,Sarcoid Sample 5 test set,Sarcoid Sample 6 test set,Sarcoid Sample 7 test set,Control Sample 8 test set,Control Sample 9 test set,...,TB Sample 93 test set,TB Sample 94 test set,TB Sample 95 test set,TB Sample 96 test set,TB Sample 97 test set,TB Sample 98 test set,TB Sample 99 test set,TB Sample 100 test set,TB Sample 101 test set,TB Sample 102 test set
0,!Sample_geo_accession,GSM1050774,GSM1050775,GSM1050776,GSM1050777,GSM1050778,GSM1050779,GSM1050780,GSM1050781,GSM1050782,...,GSM1050866,GSM1050867,GSM1050868,GSM1050869,GSM1050870,GSM1050871,GSM1050872,GSM1050873,GSM1050874,GSM1050875
1,!Sample_status,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,...,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013
2,!Sample_submission_date,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,...,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012
3,!Sample_last_update_date,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,...,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013
4,!Sample_type,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,...,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA

## Get the transpose of the dataset

In [4]:
# Transpose the dataset
transpose_test_set = test_set.T

# Reset the index to make the transposed column names into a header
transpose_test_set.columns = transpose_test_set.iloc[0]

# Drop the first row (index 0) which has the headers duplicated
transpose_test_set = transpose_test_set.drop(transpose_test_set.index[0])

# Display the first few rows of the corrected transposed data
transpose_test_set.head()

!Sample_title,!Sample_geo_accession,!Sample_status,!Sample_submission_date,!Sample_last_update_date,!Sample_type,!Sample_channel_count,!Sample_source_name_ch1,!Sample_organism_ch1,!Sample_characteristics_ch1,!Sample_characteristics_ch1,...,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311170,ILMN_3311175,ILMN_3311180,ILMN_3311185,ILMN_3311190,!series_matrix_table_end
Sarcoid Sample 1 test set,GSM1050774,Public on Oct 31 2013,Dec 10 2012,Oct 31 2013,RNA,1,Whole Blood,Homo sapiens,gender: M,ethnicity: White,...,-0.780555,-0.815693,-0.780555,-0.854372,-0.780555,-0.805551,-0.853956,-0.780555,-0.423847,NaN
Sarcoid Sample 2 test set,GSM1050775,Public on Oct 31 2013,Dec 10 2012,Oct 31 2013,RNA,1,Whole Blood,Homo sapiens,gender: M,ethnicity: Black,...,-0.410116,-0.445254,-0.410116,0.530423,-0.410116,-0.435112,-0.09395,-0.410116,-1.735982,NaN
Cancer Sample 3 test set,GSM1050776,Public on Oct 31 2013,Dec 10 2012,Oct 31 2013,RNA,1,Whole Blood,Homo sapiens,gender: F,ethnicity: White,...,-0.041661,-0.076799,-0.041661,-0.115477,-0.041661,-0.066657,-0.115062,-0.041661,0.163543,NaN
Pneumonia Sample 4 test set,GSM1050777,Public on Oct 31 2013,Dec 10 2012,Oct 31 2013,RNA,1,Whole Blood,Homo sapiens,gender: M,ethnicity: Indian subcontinent,...,0.182341,0.147202,0.182341,0.108524,0.182341,0.157345,0.10894,0.182341,0.987406,NaN
Sarcoid Sample 5 test set,GSM1050778,Public on Oct 31 2013,Dec 10 2012,Oct 31 2013,RNA,1,Whole Blood,Homo sapiens,gender: F,ethnicity: White,...,-0.672528,-0.340295,-0.672528,-0.746344,-0.672528,-0.697524,-0.15138,-0.672528,-0.538962,NaN

In [5]:
# Check basic information about the dataset, including data types and non-null counts
transpose_test_set.info()

<class 'pandas.core.frame.DataFrame'>
Index: 102 entries, Sarcoid Sample 1 test set to TB Sample 102 test set
Columns: 47357 entries, !Sample_geo_accession to !series_matrix_table_end
dtypes: object(47357)
memory usage: 36.9+ MB

## Handling Duplicate RowsHandling Duplicate Rows

In [6]:
transpose_test_set.drop_duplicates(subset=['ID_REF'], keep='first', inplace=True)

## Handling Duplicate Columns

In [7]:
# Assign starting and end indices of duplicate columns to variables
start_index = 8
end_index = 11

# Assign the index related to the target column
target_column_index = 10

# Assign a name to target column
target_column ='!Sample_disease_state'

# Rename the target column (rather than dropping it)
transpose_test_set[target_column] = transpose_test_set.iloc[:, target_column_index]

# Loop through the range of indices from start_index to end_index
for i in range(start_index, end_index + 1):
    # If the column index is the target column, skip renaming it
    if i != target_column_index:
        # Drop the column
        transpose_test_set.drop(transpose_test_set.columns[i], axis=1, inplace=True)

# Reorder the columns
# Here, place the target column at the front
new_column_order = [target_column] + [col for col in transpose_test_set.columns if col != target_column]
transpose_test_set = transpose_test_set[new_column_order]

In [8]:
# Display the first few rows of the transposed data
transpose_test_set.head()

!Sample_title,!Sample_disease_state,!Sample_geo_accession,!Sample_status,!Sample_submission_date,!Sample_last_update_date,!Sample_type,!Sample_channel_count,!Sample_source_name_ch1,!Sample_organism_ch1,!Sample_treatment_protocol_ch1,...,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311170,ILMN_3311175,ILMN_3311180,ILMN_3311185,ILMN_3311190,!series_matrix_table_end
Sarcoid Sample 1 test set,disease state: Non-active sarcoidosis,GSM1050774,Public on Oct 31 2013,Dec 10 2012,Oct 31 2013,RNA,1,Whole Blood,Homo sapiens,Direct ex-vivo human blood,...,-0.780555,-0.815693,-0.780555,-0.854372,-0.780555,-0.805551,-0.853956,-0.780555,-0.423847,NaN
Sarcoid Sample 2 test set,disease state: Active Sarcoid,GSM1050775,Public on Oct 31 2013,Dec 10 2012,Oct 31 2013,RNA,1,Whole Blood,Homo sapiens,Direct ex-vivo human blood,...,-0.410116,-0.445254,-0.410116,0.530423,-0.410116,-0.435112,-0.09395,-0.410116,-1.735982,NaN
Cancer Sample 3 test set,disease state: lung cancer,GSM1050776,Public on Oct 31 2013,Dec 10 2012,Oct 31 2013,RNA,1,Whole Blood,Homo sapiens,Direct ex-vivo human blood,...,-0.041661,-0.076799,-0.041661,-0.115477,-0.041661,-0.066657,-0.115062,-0.041661,0.163543,NaN
Pneumonia Sample 4 test set,disease state: Pneumonia,GSM1050777,Public on Oct 31 2013,Dec 10 2012,Oct 31 2013,RNA,1,Whole Blood,Homo sapiens,Direct ex-vivo human blood,...,0.182341,0.147202,0.182341,0.108524,0.182341,0.157345,0.10894,0.182341,0.987406,NaN
Sarcoid Sample 5 test set,disease state: Active Sarcoid,GSM1050778,Public on Oct 31 2013,Dec 10 2012,Oct 31 2013,RNA,1,Whole Blood,Homo sapiens,Direct ex-vivo human blood,...,-0.672528,-0.340295,-0.672528,-0.746344,-0.672528,-0.697524,-0.15138,-0.672528,-0.538962,NaN

## Unnecessary Feature Elemination

In [9]:
# Identify columns where all values are the same
columns_to_drop = transpose_test_set.columns[transpose_test_set.nunique() == 1]

# Drop those columns
test_data = transpose_test_set.drop(columns=columns_to_drop)

In [10]:
# Drop columns with more than 50% missing values
# Calculate threshold for dropping columns
threshold = len(test_data) * 0.5
test_data = test_data.dropna(thresh=threshold, axis=1)

In [11]:
# Select columns that start with 'ILMN_' or are the target column
columns_to_keep = [target_column] + [col for col in test_data.columns if col.startswith('ILMN_')]

# Filter the DataFrame to keep only the selected columns
test_data = test_data[columns_to_keep]

In [12]:
# Select the first 5 columns
first_5_columns = test_data.columns[:5]

# Create an empty list to store the rows
rows = []

# Loop through each of the first 5 columns
for col in first_5_columns:
    # Get the data type of the column using the Series dtype
    data_type = test_data[col].dtypes  # Access the dtype via .dtypes (not .dtype)

    # Get the first two row values of the column
    row_value_1 = test_data[col].iloc[0]
    row_value_2 = test_data[col].iloc[1]

    # Append the information as a row to the list
    rows.append({
        'Feature': col,
        'Data Type': data_type,
        'Row Value 1': row_value_1,
        'Row Value 2': row_value_2
    })

# Convert the list of rows into a DataFrame
result_df = pd.DataFrame(rows)

# Display the result
result_df

,Feature,Data Type,Row Value 1,Row Value 2
0,!Sample_disease_state,object,disease state: Non-active sarcoidosis,disease state: Active Sarcoid
1,ILMN_1343291,object,-0.052942276,2.52E-04
2,ILMN_1343295,object,-0.22071123,-0.29225636
3,ILMN_1651199,object,-0.780555,-0.41011596
4,ILMN_1651209,object,-0.23264909,-0.5129745

## Handling Missing values

In [13]:
# Check for missing values
test_data.isnull().sum()

!Sample_title
!Sample_disease_state    0
ILMN_1343291             0
ILMN_1343295             0
ILMN_1651199             0
ILMN_1651209             0
                        ..
ILMN_3311170             0
ILMN_3311175             0
ILMN_3311180             0
ILMN_3311185             0
ILMN_3311190             0
Length: 47324, dtype: int64

In [14]:
# Check for missing values and print only columns with missing values
missing_values = test_data.isnull().sum()
print(missing_values[missing_values > 0])

Series([], dtype: int64)

## Creating the Target Column - TB_Status

In [15]:
# Get unique categories in the "!Sample_disease_state" column
unique_categories = test_data[target_column].unique()

# Display the unique categories
unique_categories

array(['disease state: Non-active sarcoidosis',
       'disease state: Active Sarcoid', 'disease state: lung cancer',
       'disease state: Pneumonia', 'disease state: Control',
       'disease state: TB'], dtype=object)

In [16]:
# Define a function to categorize each sample type
def categorize_sample_type(source_name):
    source_name = source_name.lower()
    if 'disease state: tb' in source_name:
        return 'TB'
    elif 'disease state: control' in source_name:
        return 'Healthy Control'
    else:
        return 'Other Disease'  # Other lung disease like 'Pneumonia'

# Apply the function to the "!Sample_disease_state" column
test_data['TB_Status'] = test_data[target_column].apply(categorize_sample_type)

# Display unique values in the new 'TB_Status' column to verify
print(test_data['TB_Status'].unique())

['Other Disease' 'Healthy Control' 'TB']

In [17]:
test_data.sample(5)

!Sample_title,!Sample_disease_state,ILMN_1343291,ILMN_1343295,ILMN_1651199,ILMN_1651209,ILMN_1651210,ILMN_1651221,ILMN_1651228,ILMN_1651229,ILMN_1651230,...,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311170,ILMN_3311175,ILMN_3311180,ILMN_3311185,ILMN_3311190,TB_Status
Control Sample 87 test set,disease state: Control,-0.073036194,-0.2956109,0.41415668,0.31129813,0.39671373,0.3764739,0.72367907,-0.37131476,0.41415668,...,0.414157,1.364519,0.414157,0.34034,0.414157,0.38916,0.340755,0.414157,0.073792,Healthy Control
Control Sample 21 test set,disease state: Control,-0.12765694,0.20445395,-0.7033551,-0.8062136,-0.720798,-0.74103785,0.3248763,0.30734444,-0.7033551,...,-0.703355,-0.38235,-0.703355,-0.777172,-0.703355,-0.728351,-0.776756,-0.703355,-0.153441,Healthy Control
Sarcoid Sample 7 test set,disease state: Non-active sarcoidosis,0.3836727,0.06923914,0.19934726,0.096488714,0.18190432,0.16166449,0.5753436,0.22678995,0.19934726,...,0.199347,0.164209,0.199347,0.125531,0.199347,0.174351,0.125946,0.199347,-0.937485,Other Disease
Sarcoid Sample 16 test set,disease state: Non-active sarcoidosis,0.0935297,-0.039883614,0.23982644,0.1369679,0.2223835,0.20214367,0.1967516,0.59362984,0.23982644,...,0.239826,0.204688,0.239826,0.16601,0.239826,0.21483,0.166425,0.239826,-0.129983,Other Disease
Control Sample 12 test set,disease state: Control,-0.2236147,-0.3662653,-0.605562,0.20231223,-0.6230049,-0.64324474,0.044896126,0.01789856,-0.605562,...,-0.605562,-0.6407,-0.605562,-0.679378,-0.605562,-0.630558,-0.678963,-0.605562,-0.931428,Healthy Control

In [18]:
# Drop the '!Sample_disease_state' column.
test_data.drop(target_column, axis=1, inplace=True)

## Data Type Conversion

In [19]:
# Convert columns that should be numeric (e.g., ILMN_1343291, ILMN_1343295)
# Select columns that start with "ILMN_"
ilmn_columns = test_data.columns[test_data.columns.str.startswith('ILMN_')]

# Convert all 'ILMN_' columns to numeric
test_data[ilmn_columns] = test_data[ilmn_columns].apply(pd.to_numeric, errors='coerce')

# Verify the data types of the columns
print(test_data[ilmn_columns].dtypes)

!Sample_title
ILMN_1343291    float64
ILMN_1343295    float64
ILMN_1651199    float64
ILMN_1651209    float64
ILMN_1651210    float64
                 ...
ILMN_3311170    float64
ILMN_3311175    float64
ILMN_3311180    float64
ILMN_3311185    float64
ILMN_3311190    float64
Length: 47323, dtype: object

In [20]:
# Convert target column ('TB_Status') to categorical
test_data['TB_Status'] = test_data['TB_Status'].astype('category')

# Verify the data type of the column
print(test_data['TB_Status'].dtypes)

category

In [21]:
test = test_data.copy()

## Standardizing/Normalizing Numeric Data

In [22]:
from sklearn.preprocessing import StandardScaler

# Select only the numeric columns in the dataset
numeric_columns = test_data.select_dtypes(include=['float64', 'int64']).columns

# Initialize the scaler
scaler = StandardScaler()

# Fit the scaler on the numeric columns and transform them
test_data[numeric_columns] = scaler.fit_transform(test_data[numeric_columns])

# Display random 5 rows to verify the standardization
test_data.sample(5)

!Sample_title,ILMN_1343291,ILMN_1343295,ILMN_1651199,ILMN_1651209,ILMN_1651210,ILMN_1651221,ILMN_1651228,ILMN_1651229,ILMN_1651230,ILMN_1651232,...,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311170,ILMN_3311175,ILMN_3311180,ILMN_3311185,ILMN_3311190,TB_Status
Control Sample 27 test set,-0.126090,-1.534382,-0.678746,-0.956347,-0.694161,0.692625,0.612843,0.088745,-0.683992,-0.837813,...,-0.683718,-0.813247,-0.689220,-0.165856,-0.680947,-0.701570,-0.863808,-0.685895,-1.266901,Healthy Control
Sarcoid Sample 53 test set,0.551523,1.062077,0.163188,-0.246697,0.167473,0.035689,-0.355608,-1.174381,0.178679,-0.023000,...,0.128839,0.027842,0.172782,-0.119825,0.180406,0.148857,-0.060366,0.166107,-1.169831,Other Disease
Sarcoid Sample 43 test set,-0.060927,-0.492824,-1.297722,-0.104623,-1.327620,-1.332510,-0.676761,0.050777,-1.318214,-1.436850,...,-1.281097,0.726168,-1.322950,-1.434024,-1.314200,-1.326789,-1.454485,-1.312273,0.265882,Other Disease
Sarcoid Sample 75 test set,0.804409,-0.076532,0.126198,1.706686,0.129618,0.001047,-0.243990,0.099786,0.140778,-0.058799,...,0.093140,-0.009111,0.134910,1.032720,0.142563,0.111494,-0.095665,0.128675,0.371688,Other Disease
Sarcoid Sample 10 test set,-1.043803,-0.583601,-0.332221,-0.664267,-0.339528,-0.428281,0.437088,-0.819696,-0.328932,-0.502451,...,-0.349284,-0.467069,-0.334435,-0.565483,-0.326430,-0.351549,-0.533126,-0.335226,0.593420,Other Disease

## Handling Outliers

In [23]:
import numpy as np

# Select only the numeric columns
numeric_columns = test_data.select_dtypes(include=['float64', 'int64']).columns

# Define a function to cap outliers
def cap_outliers(series):
    # Calculate Q1 (25th percentile) and Q3 (75th percentile)
    Q1 = series.quantile(0.25)
    Q3 = series.quantile(0.75)
    IQR = Q3 - Q1

    # Define the lower and upper bounds
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Cap values outside the bounds to the respective bounds
    return np.where(series < lower_bound, lower_bound,
                    np.where(series > upper_bound, upper_bound, series))

# Apply the function to each numeric column
for col in numeric_columns:
    test_data[col] = cap_outliers(test_data[col])

# Display the random 5 rows to verify the changes
test_data.sample(5)

!Sample_title,ILMN_1343291,ILMN_1343295,ILMN_1651199,ILMN_1651209,ILMN_1651210,ILMN_1651221,ILMN_1651228,ILMN_1651229,ILMN_1651230,ILMN_1651232,...,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311170,ILMN_3311175,ILMN_3311180,ILMN_3311185,ILMN_3311190,TB_Status
Pneumonia Sample 57 test set,-0.675659,1.629669,0.986087,0.773746,1.009627,0.806367,-1.679229,0.156607,1.021847,0.773391,...,0.923026,0.849915,1.015296,0.620435,1.022285,0.980057,0.724912,0.998847,1.818386,Other Disease
Control Sample 56 test set,1.126987,-0.731778,-0.041326,1.059891,-0.041826,-0.155845,1.118431,0.761635,-0.030871,-0.220926,...,-0.068538,-0.176466,-0.036606,-0.303800,-0.028825,-0.057719,-0.255529,-0.040852,-0.418730,Healthy Control
Pneumonia Sample 84 test set,-0.248478,0.547503,-0.245320,-0.533910,-0.250593,-0.346894,0.665889,-0.370477,-0.239890,-0.418349,...,-0.265415,-0.380256,-0.245463,-0.487309,-0.237524,-0.263771,0.895398,-0.247286,0.868472,Other Disease
Control Sample 74 test set,-1.869289,-0.509833,-0.717300,-0.988843,-0.733617,-0.073874,0.849128,-0.956496,-0.723496,-0.875126,...,-0.720928,-0.750726,-0.728694,-0.911891,-0.720391,-0.740513,-0.900600,-0.724911,-0.662239,Healthy Control
Control Sample 60 test set,0.024635,-0.413424,0.698898,0.204843,0.715719,0.537403,0.976286,-0.733303,0.727585,0.495454,...,0.645858,0.563015,0.721262,0.362087,0.728473,0.689972,0.450853,0.708224,-0.919190,Healthy Control

In [24]:
# Get the number of occurrences for each class in the 'TB_Status' column
class_counts = test_data['TB_Status'].value_counts()

# Display the class counts
print(class_counts)

TB_Status
Healthy Control    52
Other Disease      39
TB                 11
Name: count, dtype: int64

In [25]:
# Save the DataFrame as a CSV file
output_csv_path = r'..\..\..\Datasets\to-predict\processed\Test_Dataset_2.csv'
test_data.to_csv(output_csv_path, index=False)
print("CSV file saved to:", output_csv_path)

CSV file saved to: ..\..\..\Datasets\to-predict\processed\Test_Dataset_2.csv